[2016-05-26 14:37] alessioalex opened #1 "feature request: provide raw text version"
It would be nice to also provide a raw text version of the generated mail, so that the users don't have to do that theirselves.

[2016-05-26 14:39] alessioalex opened #2 "make theme option more usable"
https://github.com/eladnava/mailgen/blob/master/index.js#L16-L22

Currently there's no way to add a custom theme without interfering with the module's `/themes` folder. I believe the theme option should be a path to a specific theme html file, not a name. That would make it more user friendly.

[2016-05-26 14:42] alessioalex opened #3 "cache theme html file"
Currently if you generate 5000 emails it will synchronously load the theme file 5000 times: https://github.com/eladnava/mailgen/blob/master/index.js#L51

It would be better to keep the theme html file content into memory so that the `generate` function won't try to read it each time from disk. That would be a massive improvement.

[2016-05-26 15:06] eladnava commented on #3
Hey @alessioalex!

Nice to meet you.

You are absolutely right about this

[2016-05-26 15:07] #3 closed

[2016-05-26 15:11] eladnava commented on #1
@alessioalex this is a great idea!

How will we return the textual version though? The package currently only returns the HTML template. We'd need to modify it to return an object, right? Or do you have another idea?

If so, it will be a breaking change and we'd need to version it accordingly.

[2016-05-26 15:12] alessioalex commented on #3
Hey! No problem. I've opened another 2 issues, let me know if you have time to take a look over them or if you need some help. Cool module btw, thanks!

[2016-05-26 15:14] alessioalex commented on #1
I guess we could provide a `.generateRawText()` version as well that takes the same options, which would only output text. That way it would be `minor` semver change, without affecting the current in-use API.

[2016-05-26 15:15] eladnava commented on #2
@alessioalex good idea!

The `theme` option is actually meant for picking another `mailgen` theme. Currently we only have `default` but there are definitely plans to support more themes.

However, what you're saying is true -- making it possible to supply your own theme would be nice, by specifying its path.

What I'm proposing is to have the `theme` parameter support both a string and an object,

[2016-05-26 15:16] eladnava commented on #3
Excellent, glad you like it :)

[2016-05-26 15:18] alessioalex commented on #2
I was thinking of the same thing after reading your 2nd paragraph. Good idea indeed!

[2016-05-26 15:39] eladnava commented on #2
@alessioalex Done, thanks for the suggestion! =)

[2016-05-26 15:39] #2 closed

[2016-05-26 15:51] blackdynamo opened #4 "feature request: tabular data"
Would be nice to also have some way to produce tabular data. Labels on the top or left. Maybe pass in an array of data and it builds the table for you.

[2016-05-26 16:49] eladnava commented on #1
@alessioalex Done!

Check out the docs:
https://github.com/eladnava/mailgen#plaintext-e-mails

Thanks again for suggesting this!

[2016-05-26 16:49] #1 closed

[2016-05-26 17:54] eladnava commented on #4
Hi @blackdynamo, and thanks for the wonderful suggestion!

I've added a `table` element that can be injected into templates, check out the docs for this:https://github.com/eladnava/mailgen#receipt-e-mail

[2016-05-26 17:54] #4 closed

[2016-05-26 18:15] blackdynamo commented on #4
@eladnava Nice work. Looks good.

[2016-05-26 19:41] eladnava commented on #4
@blackdynamo Thanks mate!

[2016-05-26 23:28] CyberFerret opened #5 "Add 'one click' actions to email subject lines"
Incorporate the Gmail schemas to allow users to perform 'one click' tasks such as confirm a subscription or unsubscribe from a list etc.

Published Google documentation for these schemas and functionality are at: https://developers.google.com/gmail/markup/reference/one-click-action

[2016-05-27 09:23] eladnava commented on #5
Hi @CyberFerret, what an excellent suggestion!

I read up on the One Click Actions, and it seems these are more for *one-time* interaction. What happens under the hood is that Gmail will execute an HTTP request on behalf of the user to the target confirmation URL, so this only makes sense for "Confirm your account" transactional mail.

However, I then found [Go-To Actions](https://developers.googl

[2016-05-27 18:24] SJTreadway commented on #5
Personally I think the ViewAction should definitely be included for tracking purchases via the "successful purchase" email.

[2016-05-27 18:27] eladnava commented on #5
@SJTreadway Can you please elaborate?

ViewAction simply adds a button to Gmail's UI with custom text linking to a URL of your choice.

[2016-05-28 11:45] lipis opened #6 "Align price value to the right."

[2016-05-28 12:16] eladnava commented on #6
Hi @lipis, good idea!

I'm thinking it could be an optional value passed in via `body.table.columns.align`, e.g.:

[code]

Would you like to submit a PR with this improvement?

[2016-05-28 12:19] lipis commented on #6
I would not overcomplicate it.. the numbers are usually on the right.. and the titles should be center aligned.. the rest on the left.. too lazy for the PR.. sorry :)

[2016-05-28 16:16] eladnava commented on #6
I think we should strive to allow as much configurability as possible, no reason to limit it to numbers only. Also, we should support `middle` alignment as well.

Will add this soon.

[2016-05-28 16:41] eladnava commented on #6
@lipis done, implemented as follows:

[code]

[2016-05-28 16:41] #6 closed

[2016-05-28 17:35] eladnava commented on #5
@CyberFerret @SJTreadway It's ready.

You can make use of Gmail's [Go-To Actions](https://developers.google.com/gmail/markup/reference/go-to-action) within your e-mails by suppling the `goToAction` object as follows:

[code]

However, note that you need to [get your sender address whitelisted](https://developers.google.com/gmail/markup/registering-with-google) before your Go-To Actions will show u

[2016-05-28 17:35] #5 closed

[2016-06-02 17:27] bjrmatos opened #7 "i18n support"
it would be really cool to add i18n support, i'm from Perú where we need to send emails in spanish, right now we are customizing the template to achieve that but it would be really great to have i18n support backed in the library itself.

how would you like to implement this? i can work on it if you like but i want to discuss the details first.

i was thinking that creating a `i18n` folder inside

[2016-06-03 15:11] eladnava commented on #7
Hi @bjrmatos,
What an excellent suggestion!

Currently, the only phrases/words that need to be localized are:

* "Hi {name}"
* "Yours truly"
* "All rights reserved"

I'm thinking it would be better if we would make it possible to let users override these phrases with their own, thereby also making it possible to localize them, as well as customize the English ones (some companies wouldn't want to

[2016-06-03 18:00] bjrmatos commented on #7
yes, you're right it'll be harder with more themes, your approach sounds better to me 😄

in the case of new themes, each theme will need to define the custom properties that will allow override the phrases, right? sounds really good to me!

[2016-06-04 15:25] eladnava commented on #7
@bjrmatos Yep! I'm thinking of simply adding new variables that will be available to the themes, e.g. `product.copyright`, `greeting`, and `signature`, which can be overridden with user-supplied phrases.

These variables will fallback to the current English phrases if not supplied.

[2016-06-05 10:26] eladnava commented on #7
@bjrmatos Let me know if you'd like to work on this yourself, and if not, I'd be glad to do it as well.

[2016-06-05 16:50] bjrmatos commented on #7
@eladnava great! unfortunately i only have time on weekends, if you have time to implement this please do! if not i will take care of this in the coming weekend 👍

[2016-06-06 21:28] eladnava opened #8 "Add RTL support"
Make it possible to align the templates to the right.

Should be as simple as adding `dir="rtl"` to the `<html>` tag in the themes if `rtl: true` is set in the Mailgen constructor.

[2016-06-06 22:34] eladnava commented on #7
@bjrmatos No problem! Found some time and implemented this:
https://github.com/eladnava/mailgen#language-customizations

Thanks again for your suggestion! =)

[2016-06-06 22:34] #7 closed

[2016-06-06 22:51] #8 closed

[2016-06-06 23:00] bjrmatos commented on #7
you're awesome! :heart:

[2016-06-08 19:49] AlecRust opened #9 "Improve flexibility of email contents"
The email contents values suit the three examples well, but are a little limiting if you're trying to create more generic emails.

The first thing I noticed on this was `name` being output after the language greeting (e.g. `Hi `). Perhaps this could just be `title` and allow the entire contents of this title to be managed in one value?

The second thing I noticed was the lack of flexibility with p

[2016-06-08 20:56] eladnava commented on #9
Hi @AlecRust,
These are excellent suggestions!

Regarding the `title` -- this should be easy enough to add:

[code]
We do want to keep supporting the existing users of Mailgen and I do think that it's still practical to simply pass in a name, so I think it should still be possible to use the `name` and `greeting` keys.

Regarding the paragraphs -- good point. I'm thinking that `intro` and `outro`

[2016-06-08 22:26] AlecRust commented on #9
Sounds good to me. I'd probably go with `definitionList` if that's the HTML that will be output.

Happy to take a look at this, might not get to it for a few days though.

[2016-06-09 07:22] eladnava commented on #9
@AlecRust cool, let me know if you have any questions. I think `dictionary` might be more appropriate (as those are key-value pairs).

[2016-06-11 16:32] #9 closed

[2016-06-18 16:19] andreipopovici opened #11 "Huge issues with webpack"
Hey there,

I tried using mailgen with webpack in node (for an AWS Lambda function) and it was quite the nightmare :)

Granted, most of the issues were with sub-dependencies such as `juice`'s, but the fact that `mailgen` caches the theme at runtime from a local file was messing with the paths after compiling via webpack.

I'm not sure if this is something fixable (short of including the default th

[2016-06-18 16:45] eladnava commented on #11
Hi @andreipopovici,
Thanks for your report!

There must be some other solution than to bundle the HTML themes inside JavaScript files. What happens to the theme path after you compile with webpack? How did the new path look like? Maybe we can detect webpack compilation and build a different path to the theme in that case.

[2016-06-19 10:00] andreipopovici commented on #11
Honestly, I wouldn't worry about it too much (from `mailgen`'s perspective). My issues were mostly because the compiled code needed to be packaged and served separately from the development code. The path is correct if including `node_modules/mailgen` in the uploaded Lambda package and excluding `mailgen` from webpack compilation (using https://github.com/kevlened/copy-webpack-plugin)

However, so

[2016-06-19 10:00] #11 closed

[2016-06-19 11:20] eladnava commented on #11
Cool, thanks for documenting this! 👍

[2016-06-29 07:59] ayoola-solomon opened #13 "Scheduling with mailgen"
Are you thinking of adding scheduling to this module any time soon or do you want me to create a pull request?. It will come in handy

[2016-06-29 08:27] eladnava commented on #13
Hi @ayoola-solomon!

What do you mean by scheduling? Scheduling e-mails to be sent in the future?

If so, that is not really the point of Mailgen -- since it doesn't actually send the e-mails, it only generates their HTML/textual content for you.

[2016-06-29 08:29] ayoola-solomon commented on #13
Yes I meant Scheduling e-mails to be sent in the future?

[2016-06-29 08:31] eladnava commented on #13
That is not really the point of Mailgen -- since it doesn't actually send the e-mails, it only generates their HTML/textual content for you.

[2016-06-29 08:36] ayoola-solomon commented on #13
My bad... Thanks for the prompt response. Hopefully the module can evolve into doing that in the future.

[2016-06-29 08:37] #13 closed

[2016-06-29 08:38] eladnava commented on #13
@ayoola-solomon Might want to check out [node-schedule](https://github.com/node-schedule/node-schedule) in conjunction with [nodemailer](https://github.com/nodemailer/nodemailer) to achieve scheduled e-mail.

[2016-08-17 14:26] gemueselasagne opened #14 "Add two buttons instead of just one"
Hi!
I am using mailgen for sending out transactional mails. For a new feature I need two different buttons in one mail. Just tried it out to simply use two action-objects but mailgen seems to just take the second one and ignore the first. Does someone know how to do it?
Cheers

[2016-08-19 02:45] eladnava commented on #14
Hi @gemueselasagne!

Great suggestion! Displaying more than one action button in generated e-mails is currently not possible out of the box, but that could definitely be changed!

A PR could be submitted to make it possible to pass in `body.action` as an array (and support an object as well) to `mailGenerator.generate`, as well as modifying each built-in theme to render all passed in action button

[2016-09-13 07:24] throrin19 opened #16 "Outlook"
Hi,

I've test your library into oulook and the result is not great :(. The icon size in the header is incorrect and the button in the body is not visible as you can see in the bellow screen :

![capture](https://cloud.githubusercontent.com/assets/1394778/18464834/bde068f4-7993-11e6-9df9-eb643324c293.PNG)

[2016-09-13 09:33] eladnava commented on #16
Hi @throrin19,
Thanks for the report!

Is this in the `default` theme? What version of Outlook?

[2016-09-13 10:03] throrin19 commented on #16
It's an extension of the default theme with only the header background and text color changed.

For outlook, it's the version 2016

[2016-09-13 10:04] eladnava commented on #16
@throrin19 Could you try sending with other themes? E.g. `salted` or `cerberus`?

[2016-09-13 10:27] throrin19 commented on #16
Yes I Try to test.

This is my current "custom theme" and the javscript code for the generation :

[code]

[code]

[2016-09-13 13:16] throrin19 commented on #16
I've test with the original theme and the neopolitan theme and this is the result :

![capture 1](https://cloud.githubusercontent.com/assets/1394778/18474990/fd38f21a-79c4-11e6-9a61-1222579e5933.PNG)
![capture 2](https://cloud.githubusercontent.com/assets/1394778/18474991/fd55f694-79c4-11e6-86fb-2239965bb623.PNG)

In the default theme, the button is not visible and, in the neopolitan theme, Outloo

[2016-09-13 14:25] throrin19 commented on #16
OK I found problems.

For the logo : Outlook >=2013 only support images with the width setted directly like that :

[code]

For the button, it's more complexe. I remove the `mso-hide` in the `.button` section bug outlook don't show it correctly. So, after many research and tests, we should add specific tag for outloock like this gist :

https://gist.github.com/elidickinson/9424116#file-html_email_

[2016-09-13 20:01] eladnava commented on #16
Ooh, that doesn't look pretty.

We could use a service like [Litmus](https://litmus.com/email-testing) to fix this (previewing the themes in the most popular e-mail clients without having to install them). They have a 3-day free trial which could suffice.

If you have the time, would you like to submit a PR to add compatibility for Outlook?

[2016-09-15 18:30] harmonicradius opened #17 "Threading Emails"
I would like to send emails that are part of an existing thread. I'm using mailgen to generate them, and mailgun to send the emails. Is it possible to use X-Entity-Ref-ID to let these emails know that they are all part of a single thread?

Thanks!

[2016-09-15 19:56] eladnava commented on #17
Hi @harmonicradius,
If you simply don't supply the X-Entity-Ref-ID header, Gmail / Inbox will automatically group your e-mails based on smart logic (i.e. same or similar subject / content for those e-mails).

Give it a shot and let me know! =)

[2016-09-15 20:01] harmonicradius commented on #17
Thanks for the quick reply.

I have sent several emails with the same subject line, but they don't group by default (perhaps in gmail, but not in live mail).

Mailgun says there is a way to use message ids to have them group (ref: http://blog.mailgun.com/tracking-replies-in-mailgun-or-any-other-email/)

^ I'm not sure what the easiest way to accomplish this is though..

[2016-09-15 20:04] eladnava commented on #17
Based on that article, it looks like simply sending the `Message-ID` header with your e-mails (and using the exact same message ID for all e-mails you want grouped) should suffice?

They went for something like this:
`Message-ID: <123456@samples.mailgun.org>`

[2016-09-24 21:24] eladnava commented on #17
Closing this due to lack of response. Please feel free to reply if you are still having trouble.

[2016-09-24 21:24] #17 closed

[2016-09-29 12:02] throrin19 commented on #16
I make that ASAP

[2016-09-30 20:36] collnwalkr commented on #14
@eladnava i'd like to give it a shot!

[2016-09-30 20:51] eladnava commented on #14
@collnwalkr Awesome! Would you like some tips on how to implement this? 😄

[2016-09-30 21:05] collnwalkr commented on #14
@eladnava sure! But first this is what I've done so far.
First, I edited welcome.js's email.action to be an array:
[code]
Then that led me to ejs.render on [index.js line 71](https://github.com/eladnava/mailgen/blob/master/index.js#L71). It looks like the fix might have to be applied to every theme. Do you think that would be an acceptable solution? I could also edit [THEME.md](https://github.com/

[2016-09-30 21:10] eladnava commented on #14
@collnwalkr Absolutely! You are on the right path. You will indeed need to modify each theme separately, adding support for more than one action (and also supporting just one action if passed in). Specifically, in the `default` theme for example, this would be the section to modify:
https://github.com/eladnava/mailgen/blob/461ab1c84ad99488161deb2d71457f2b547e4f56/themes/default/index.html#L307-L31

[2016-09-30 21:59] collnwalkr commented on #14
@eladnava thanks. I've already made good progress. I'm wondering what Gmail Go-To Actions are? Will these be impacted?

[2016-09-30 23:15] collnwalkr commented on #14
alright here's my solution: #18

[2016-10-01 08:36] eladnava commented on #14
@collnwalkr Great!

No need to worry about the Gmail [Go-To Actions](https://developers.google.com/gmail/markup/reference/go-to-action). There seems to be no way to provide more than one according to the docs.

[2016-10-01 21:12] #14 closed

[2016-10-02 14:13] eladnava opened #19 "Normalize line breaks in plaintext versions of generated e-mails"
Currently, when calling `mailgen.generatePlaintext(email)`, the string returned looks something like this:

[code]

The line-breaks are either excessive or missing. What I think we should do instead is ignore  `\n` line breaks in the `index.txt` theme files and instead have each theme indicate a line break by a `<br />` tag, even though the plaintext version isn't supposed to have any HTML. Mailge

[2016-10-04 15:05] petetnt opened #20 "#18 contains breaking changes to custom themes"
PR #18 introduced the ability to add multiple buttons. Despite there being no API changes, sadly this breaks every custom theme out there that uses `action.button` directly in the templates, like it was used in `default` and `cerberus` themes before the update.

We learned this the hard way when a [SemVer patch](http://semver.org/) update 1.0.27 broke all of  our email related functionality. Not s

[2016-10-04 15:28] vuchl commented on #19
On it!

[2016-10-04 15:50] eladnava commented on #20
Hi @petetnt,
Thanks so much for bringing this to our attention! I have immediately published a new patch version without the PR merged in temporarily.

Later I will re-publish a new version with the PR included, probably as a major version. I do not have the time right now.

[2016-10-04 15:50] petetnt commented on #20
Thanks eladnava 👍

[2016-10-04 18:39] eladnava commented on #20
The only alternative to publishing #18 as a major version would be to have Mailgen provide the themes with `locals.action` as an object if there is only one action to be printed, and an array otherwise. The existing custom themes that expect an object will work fine this way.

However, this would unfortunately cause us to pollute the default themes that support more than one action with code that

[2016-10-04 18:41] eladnava commented on #20
Published v2.0.0.

[2016-10-04 18:41] #20 closed

[2016-10-04 18:41] petetnt commented on #20
No problem @eladnava, thanks for the prompt actions 👍

[2016-10-10 06:53] eladnava commented on #19
This is up for grabs again, unless @vuchl wants to give it another shot.

[2016-10-10 06:54] eladnava commented on #16
@throrin19 Please let me know if you still intend to work on this. 👍

[2016-10-11 11:47] vuchl commented on #19
Hey @eladnava!

I think i got what you mean: strip all `\n`s, andd replace `<br />`s in the rendered text. If you aggree I'd love to implement that in the second try.

[2016-10-11 12:24] eladnava commented on #19
Yes, that's basically what needs to be done. Also, every theme's `index.txt` needs to be updated to include `<br />` characters in the relevant places where we intend line-breaks.

Please run the scripts in `examples/` using `mailgen.generatePlaintext()`, the output should be similar to this in regards to the line breaks:

[code]

[2016-10-11 13:56] vuchl commented on #19
Wouldnt it be rather
[code]

[2016-10-11 14:02] eladnava commented on #19
Nope. We want `generatePlaintext()` to return **plaintext**. The themes' `index.txt` files are the ones that will contain `<br />` to signal to Mailgen where a line-break should appear. Right now we simply copy the `index.txt` as is (with its `\n` line breaks) and return it in `generatePlaintext()` (after evaluating the `ejs` statements), which leads to excessive line breaking since the statements

[2016-10-11 14:05] vuchl commented on #19
Ah now i get what you are trying to tell me. basically I change the templates at first and then implement the replacing so that the template is dumped as you posted. :thinking:

[2016-10-11 14:06] eladnava commented on #19
Yes, I think you got it now. 😄

[2016-10-11 14:38] vuchl commented on #19
Well maybe now #22

[2016-10-12 07:33] eladnava opened #23 "Remove copyright from plaintext e-mails"
Currently, we output the copyright in plaintext e-mails. I think this is invalid, not to mention the fact that it currently contains HTML tags / entities:

[code]

In any case, it is broken. We should either remove it entirely or decode the HTML entities / remove tags.

Any thoughts?

[2016-10-12 07:40] vuchl commented on #23
Links could be parsed like `Linktext: Url` to make it clear.

The HTML entities could be parsed to their equivalent unicode symbol if we target UTF-8 as the character set.

[2016-10-12 12:26] eladnava commented on #19
Closed via #22.

[2016-10-12 12:26] #19 closed

[2016-10-12 12:43] vuchl commented on #19
Finally :grin:

[2016-10-12 12:44] eladnava commented on #19
Thanks so much for your patience and awesome job! 😄

[2016-10-12 12:52] vuchl commented on #19
Was a great experience for a git and js pleb like me. But you are still right with the concerns regarding the performance.

[2016-10-14 07:39] eladnava commented on #23
I think an easier and cleaner solution would be to simply strip the plaintext e-mail of all HTML tags and convert HTML entities to their corresponding symbols.

But I think we should start with operating on just the `copyright` object and leave the rest as is, so that we don't break anyone's e-mail if they didn't expect us to strip tags and HTML entities from it.

What do you think?

[2016-10-14 12:39] vuchl commented on #23
Alright, isolating this is a good idea. And since the `he` package is already referenced/used else where it would simple be wrapping https://github.com/eladnava/mailgen/blob/master/index.js#L26 into an `he.encode()` imho.

[2016-10-14 15:52] eladnava commented on #23
We don't want to wrap the copyright in [#L26](https://github.com/eladnava/mailgen/blob/05176b7fcb9713171f4627e0d9f2039c293edb79/index.js#L26) specifically because we **do** want the copyright to have HTML tags and entities when generating a standard HTML e-mail with Mailgen.

We only want to omit these in plaintext e-mails, which would make #L105 an appropriate place:
https://github.com/eladnava/m

[2016-10-16 11:04] DariosDjimado opened #24 "Language customization"
Hi,
Currently it is possible to fully customize the fields to any language. But unfortunately there isn't a way to change that message :

  An idea ?

[2016-10-16 14:00] eladnava commented on #24
Thanks for reporting this! 👍

I'm actually considering removing that line entirely from the `default` theme file, since no other theme file has it, and since there actually shouldn't be any need for it since it's 2016, almost 2017, and I don't think there are any e-mail clients that lack support for `<a>` hyperlinks in HTML emails.

Does anyone think otherwise?

[2016-10-19 12:19] vuchl commented on #24
Yes. This would be a huge deal breaker. Outlook, Thunderbird, Lotus Notes, GroupWise and mobile Versions have full hyperlink support. The deletion is propably the simplest and cleanest way here.

[2016-11-04 21:49] #24 closed

[2016-11-13 01:03] Pinpickle opened #26 "Copyable link was removed"
1944ccb4 removed the plain text version of action links that could be copied and pasted into browsers.

As #16 demonstrates that the button is invisible on Outlook, it really does make sense to have this as a fallback.

I was wondering why it was removed?

[2016-11-13 08:20] eladnava commented on #26
Hi @Pinpickle,
The plaintext link was removed for i18n (translation) purposes as mentioned in #24. Also, it is only present in the default theme which was an inconsistency.

If the button is invisible in Outlook in the default theme, the solution would be to fix that bug in Outlook by modifying the theme's styling / markup.

If you have access to Outlook, could you by any chance try to fix the but

[2016-11-29 21:27] eladnava commented on #26
Please continue this in #16.

[2016-11-29 21:27] #26 closed

[2016-11-29 21:27] eladnava commented on #23
Anyone up for this?

[2016-11-30 07:48] vuchl commented on #23
I will look at it over the weekend if you want. Don't have the spare time the next few evenings.

[2017-11-23 11:26] danielCommitted opened #27 "When i put an svg in logo, nor the logo neither the name is shown."

[2017-11-24 01:29] eladnava commented on #27
Hi @danielCommitted,
Thanks so much for taking the time to report this bug.

Can you please post example code (i.e. the constructor code that you use to initialize Mailgen with an SVG logo?)

[2017-12-04 11:22] danielCommitted commented on #27
`new Mailgen({
  theme: 'default',
  textDirection: 'ltr',
  product: {
    // Appears in header & footer of e-mails
    name: {name},
    link: {link},
    logo: 'https://daks2k3a4ib2z.cloudfront.net/5661f2003837fdb102819aa7/596e100d68dd86705eb704d7_CLOUDWITHME_LOGO.svg',
    copyright: {copyright}
  }
});`

[2017-12-09 08:48] eladnava commented on #27
Hi @danielCommitted,
Upon inserting the `svg` link in the `logo` option, the following was generated:

![screen shot 2017-12-09 at 6 46 56 pm](https://user-images.githubusercontent.com/4394189/33794143-6a3f40ac-dd11-11e7-9e9c-5daa6df24323.png)

When using the `logo` option, mails will no longer contain the `name` in the headers, but only in footers within the copyright.

Is it possible that the `s

[2018-01-04 22:41] eladnava commented on #27
Closing due to lack of response, feel free to reopen if you still need help with this.

[2018-01-04 22:41] #27 closed

[2018-08-18 16:50] sudeshgutta opened #30 "Ability to add Logo to email header and footer"
It would be great if we had an option to add an image along with text content as part of name property, so that we can have logo as part of header and footer

Currently only text content are allowed as part of header and footer

_Expected Config Example:_
[code]

Thanks!

[2018-08-18 16:53] #30 closed

[2018-08-18 16:54] sudeshgutta commented on #30
Just saw that it can be configured and It would be great if this config was documented

[2018-08-19 03:36] eladnava commented on #30
Hi @sudeshgutta!

Thanks for your suggestion, however, the `logo` parameter is documented in the [Usage](https://github.com/eladnava/mailgen#usage) section already as `Optional product logo`:
[code]

[2018-09-04 16:41] Samuel-Montoya opened #31 "Max Width Property on Email Logo"
There seems to be no max-width property on the email logo with the Salted Theme.
Is there any way this could be limited? On Outlook, some logos take up almost the entire screen if the image is too big.

This logo property is set in the product object when setting a theme.

Thanks!

[2018-09-05 02:18] eladnava commented on #31
Hi @Samuel-Montoya,
Thanks for your suggestion.

Currently all themes come with a hard-coded `max-height`: https://github.com/eladnava/mailgen/blob/c4356d74be84b38728f7b897b2580e0948082950/themes/salted/index.html#L57-L59

One option is to to resize the logo image you are providing to `mailgen` to the desired dimensions to make sure it doesn't occupy too much space.

The other option is to add an

[2018-09-05 19:56] Samuel-Montoya commented on #31
I seem to have gotten a fix for my situation. For Outlook, the image element requires a width property to display correctly on the Outlook client.
`<img src="<%- product.logo %>" width="200"/>`

It would be wonderful if we were given the option to add or change this value, maybe in the product object?
[code]
This would be especially nice so we don't have to manually resize pictures.
Just a thought

[2018-09-06 01:36] eladnava commented on #31
@Samuel-Montoya Sounds like a good plan. Are you comfortable with JS? Do you want to attempt adding this parameter in?

[2018-10-29 08:31] Sunnykaby opened #32 "How can we add multi tables into a email?"
As the title, I want to add two tables into one email. How can i do?

[2018-10-31 09:49] eladnava commented on #32
Hi @Sunnykaby,
At this time `mailgen` does not support this scenario. The `table` param only accepts an object:
https://github.com/eladnava/mailgen/tree/59f730560090bb014b9000dc017bf6977004fd1e#table

If you're feeling up to it, you can modify `mailgen` to accept both a `object` and an `array` of `object` for the `table` param, and modify the `mailgen` built-in templates to support multiple tables

[2018-11-29 08:16] Sunnykaby commented on #32
maybe I can have a try. Let me digging your project first.
And I have another question. I can't open the html email with the really html format on Outlook, or some famous Email client.

[2018-11-29 11:22] Kikobeats opened #33 "How to customize CSS template"
Hello,

I love this project, it's so simple and it reduces a lot the quantity of time I need to setup emails in any of my projects. Thanks 👏.

Although templates provided are enough, sometimes I need to customize it in order to fit with my project style in terms of colors.

For example, maybe the template is using `background: #fff` but I need to use `background: #c9c9c9`.

That's nothing mean nec

[2018-11-29 11:55] eladnava commented on #33
Hi @Kikobeats,
Thanks so much for your kind words and suggestion! 👍

It would be nice if we could split up the HTML and CSS files. However, HTML e-mails don't really let us do this as we can't reference external CSS files in HTML e-mails.

CSS must be declared in-line, specifically within the `<head>` tag of the `HTML` email:

[code]

Separating the HTML and CSS would introduce an issue as the CSS

[2018-11-29 22:54] Kikobeats commented on #33
could be more or less easy to insert inside the HTML using a AST library, although I understand it more easier just copy/paste original template and make your changes 😛

[2018-11-30 05:08] #33 closed

[2019-01-01 00:07] charlie-s commented on #16
I added a comment to https://gist.github.com/elidickinson/9424116 that centers the button and changed the default template to support the button method. I'll work on the logo in a separate merge request.

[2019-01-04 15:36] Ncifra opened #35 "Custom HTML element, or at least image"
We have a base64 encoded image, of a qr code that we want to send in the email.
Is it possible to put it inside the body?

Thank you

[2019-01-04 16:56] Ncifra commented on #35
All right, it accepted the <img> tag normally (I put it myself inside the `outro` array).

[2019-01-04 16:56] #35 closed

[2019-10-08 02:59] eladnava commented on #32
Closing due to lack of response/demand.

[2019-10-08 02:59] #32 closed

[2019-10-09 16:13] eladnava commented on #32
@labzy88 Thanks so much for your work on this amazing PR! 🎉

Just merged and applied some CSS styling changes in https://github.com/eladnava/mailgen/commit/1de7394a4ad13b0067c049e37d69d1e2f4f88882, and published to `npm` in `2.0.9`. 💯

[2020-08-26 03:12] w4-jake opened #40 "Action button -- alignment option in default theme?"
Hi there and thank you for your work on mailgen -- it's been very easy to use.

The 'default' theme is nearly perfect for a project I'm working on, but I would like the button in the action section to be aligned left, just like the text.

It seems that besides 'color', 'text', and 'link', there isn't an option such as 'alignment' that I can give to 'button' in the email body object:

[code]

Is my

[2020-08-26 15:26] eladnava commented on #40
Hi @w4-jake,
Thanks so much for your kind feedback!

Indeed, in all built-in `mailgen` themes, the action button is hard-coded to be aligned in the center. There isn't an option currently to customize this. There are two possible ways to provide this functionality:

1) Submit a PR that adds an `alignment` or `align` property to the `action.button` property being passed to `mailgen` (as you suggest

[2020-10-02 21:19] Aptcoder commented on #31
Hello @eladnava. Has this been implemented? Would like to help with it

[2020-10-02 21:51] eladnava commented on #31
Hi @Aptcoder,
It has not. What do you say about adding an optional `width` integer attribute to the `product` object and injecting it into the themes' <img> tag if present?

[2020-10-02 22:48] Aptcoder commented on #31
I believe that is an appropriate solution. I would check for the property in `mailgen` core and set a default value if no value is given then use assign the attribute using ejs. I personally have not experienced the issue described as I do not have access to outlook mail but I believe this should be a fix

[2020-10-02 23:47] eladnava commented on #31
Sounds good! Actually, sorry for the confusion, but it would be better if we modified the `height` and not the `width`, to maintain backward compatibility.

Currently, all themes set the logo `max-height` to `50px`:

[code]

I would say the best approach would be to allow passing in a custom `height` (via `product.height`) and only if it was passed in, set it as a CSS property on the `<img>` tag.

[2020-10-03 00:05] Aptcoder commented on #31
Alright. I will make a PR to this effect

[2020-10-03 23:40] eladnava commented on #31
Merged in #41.

[2020-10-03 23:40] #31 closed

[2020-10-19 14:36] JPStrydom opened #42 "Button Styling Looks Off In MS Outlook Web"
![image](https://user-images.githubusercontent.com/25905330/96464994-c2230980-1228-11eb-98a8-2a7f59a1e70a.png)

This image shows the button I get when viewing my email (with the default theme) in outlook web. It looks fine on MS Outlook's desktop app, it just look funny in their web app. I believe it has something to do with the line height, but I might be mistaken. Any idea how to fix this withou

[2020-10-19 15:13] eladnava commented on #42
Hi @JPStrydom,
Thanks for the report! Just wondering, how did you fit a description in the button text? Are you using a new-line character (`\n`)?

The `button.text` is a string which only expects to receive a single line or phrase:
[code]

[2020-10-21 17:30] JPStrydom commented on #42
I've only given it a single line, much like your example.

[2020-10-21 18:08] eladnava commented on #42
Hi @JPStrydom,
I believe the solution would be to add a `white-space: nowrap` CSS declaration to the button text.

Can you please try to reproduce by using a shorter button text such as `Test`? Does it still break?

[2020-10-26 14:39] dulangaheshan opened #43 "Throws an error when using table in side body"
I tried with the below sample code which provided in **README.md** file with **Type Script**

[code]
It throws the below error

[code]

how can I fix this error, thank you

[2020-10-26 14:43] dulangaheshan commented on #43
It was my fault,  I fixed the issue by declaring  `  var email: any;`

[2020-10-26 14:43] #43 closed

[2020-11-19 07:45] w4-jake commented on #40
Hi @eladnava,

So sorry for neglecting to get back on this issue! As it happened, center alignment actually became acceptable for the specific content I was making, so any short-term need to carry out either option 1 or 2 went away.

Thank you anyway, though, for your thorough review of the problem(?) and its solutions. Maybe down the road I (or anybody else with a need for this feature) could try

[2020-12-16 21:08] svdoever opened #44 "JSON Schema for mailgen format available?"
I write mail templates in JSON for mailgen, but would like to provide a JSON schema to do so.
Anyone aware of the existence of a JSON schema for mailgen?

[2020-12-17 15:17] eladnava commented on #44
Hi @svdoever,
By JSON schema, do you mean a reference of all the available JSON properties `mailgen` accepts into the `new Mailgen().generate()` function? In that case, check out the "Elements" section in the README:
https://github.com/eladnava/mailgen#elements

[2020-12-26 18:32] hiteshsubnani0128 opened #45 "How to embed Images"
I am trying to add images, also it will be great if you can help me with adding social media logos in the footer section. Also I have added the Url of the logo but it is not showing are there any set of rules ( Like logo should be png or of any particular size ).

Regards

[2020-12-28 17:57] eladnava commented on #45
Hi @hiteshsubnani0128,
There isn't any documented or intended way to add images to the footer / copyright section. However, a possible workaround is to simply include the HTML `<img>` tag in the `copyright` property, when initializing `Mailgen()`, as follows:

[code]

[2020-12-28 17:57] #45 closed

[2021-01-03 18:36] rachiitgupta opened #46 "product logo from local disk"
I wanted to use logo from my local system -
var mailGenerator = new Mailgen({
    theme: 'cerberus',
    product: {
        // Appears in header & footer of e-mails
        name: 'abc,
        link: 'https://www.abc.co',
        logo: 'images/logo.png' **HOW TO ADD RELATIVE PATH HERE ?**
        // Optional product logo
        // logo: 'https://mailgen.js/img/logo.png'
    }
});

[2021-01-04 16:02] eladnava commented on #46
Hi @rachiitgupta,
I'd be glad to assist.

When you send an e-mail over the Internet, the recipient device or machine will not have access to the image file on your computer. The solution is to host that image file on the Internet, and link to it.

You can use a service such as [Amazon S3](https://aws.amazon.com/s3/) to host your image and provide you a URL you can link to, or [imgbb](https://imgbb

[2021-01-04 16:02] #46 closed

[2021-01-06 13:00] rachiitgupta commented on #46
Thanks @eladnava for the response, this would help!

[2021-02-04 11:53] Jelmerovereem opened #47 "adding and styling product images"
I'm trying to add product images to the receipt.
I've tried to add a `<img>` inside the item property.
[code]

And the image shows in the email, but the size is different in each email client, probably because not every client recognises the `max-height`. So is there any correct way to implement product images into the emails?

ps: I love the work you did on this package! Very handy and easy to us

[2021-02-05 16:47] eladnava commented on #47
Hi @Jelmerovereem,
Glad to hear you're liking mailgen :)

I'd recommend using the `width` or `height` attribute directly on the `<img>` tag:

[code]

This is supported in all major e-mail clients, but it does slightly complicate your implementation, as you need to know the exact image height in advance.

Please give it a try, and let me know if you have any further questions.

[2021-02-05 16:47] #47 closed

[2021-05-23 19:20] grzegorzkawkaosik opened #48 "Missing typescript definition for Product.logoHeigth"
Hello,
There is a missing definition for Product.logoHeight in @types. I have submitted a PR for it in definatelyTyped repository, please check. This is my first contribution ever to such big repository, so it might not be great.

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/53345

Best Regards,
Greg

[2021-05-23 23:57] eladnava commented on #48
Hi @grzegorzkawkaosik,
Looks great to me! 👍

We will have to wait for the DefinitelyTyped team to review and merge your PR. Cheers for your contribution!

[2021-05-23 23:57] #48 closed

[2021-06-21 09:58] tonprince opened #49 "After npm install i got 5 high severity vulnerabilities"
[code]

[2021-06-21 20:47] eladnava commented on #49
Hi @tonprince,
Thanks for your report. Would you like to submit a PR that upgrades the vulnerable dependencies?

[2021-06-24 14:38] tonprince commented on #49
I already found another way, thanks.

[2021-06-24 14:38] #49 closed

[2021-07-09 19:00] #23 closed

[2021-10-15 01:20] dennypradipta opened #55 "Email Layout Breaks in iOS Email App"
# Bug Description

It seems that the layout breaks in iOS email app, but not in GMail and Outlook app.

## How to Reproduce

Sent an email using Mailgen template, and open it in the device

##  Screenshot

![image](https://user-images.githubusercontent.com/16670475/137416662-ad0e64cc-0372-42cd-873e-96491c0e9edc.png)

[2021-10-16 19:58] eladnava commented on #55
Hi @dennypradipta,
Thanks for opening this issue. Unfortunately I'm unable to reproduce on my iOS 14 device. Here's how it renders on my side:

![Untitled-1](https://user-images.githubusercontent.com/4394189/137600662-2a30735a-33c8-4087-b3b4-f78d053489ea.png)

The template is correctly scaled to the width of the screen. Please paste your e-mail building code which you are feeding into Mailgen so I

[2021-10-17 08:22] dennypradipta commented on #55
After further investigation, it seems that it breaks in iOS app when you have a long name (in this case is John Appleseed)

In the previous screenshot I provided, I displayed two emails like “Hi denny@emailprovider1.com, denny@emailprovider2.com”

Is there any way to prevent it?

[2021-10-21 06:28] dennypradipta commented on #55
Here's how I put it:
[code]

In the `opt.to`, I use two email just like the above. As for the `opt.subject` I use `New Incident from Monika`.

Now for the `opt.text`:
[code]

It should render something like this:
[code]

[2021-10-22 17:52] #55 closed, assigned to nobody

[2022-02-23 13:07] firsttimett opened #57 "body.table.columns type"
Supposedly `ColumnOptions` instead of `ColumnOptions[]`?
https://github.com/eladnava/mailgen/blob/master/index.d.ts#L58

[2022-02-23 18:00] eladnava commented on #57
Hi @firsttimett,
Thanks so much for reporting this! It has now been fixed in 0d177c2c09524c1322069ad4bdf8ad87a1565cd5 and published to `npm` in `2.0.17`.

[2022-03-25 19:36] iplanwebsites opened #60 "Option to minify html template code."
Whitespace accounts to 50% of the file-size of generated emails. This can quickly add up in queueing systems that notifies thousands of users.
To save CPU cycles, it'd be best to minimize the templates on init, instead of running the minifier on the output, or at render time.

Ideally just after loading it via` this.cachedTheme = fs.readFileSync(themePath, 'utf8');`.

[2022-03-25 22:22] eladnava commented on #60
Hi @iplanwebsites,
Thanks so much for creating this issue and bringing this to my attention!

Would you like to submit a PR with this performance improvement? It would be welcome.

[2022-04-21 12:56] bussedesigngb opened #63 "Type issue for Button"
Documentation states that color is optional for Button but type file defines it to be mandatory.

See

color: '#22BC66', // Optional action button color

And type definition

`interface Button {
        color: string;
        text: string;
        link: string;
}`

[2022-04-24 08:36] #63 closed

[2022-04-24 08:38] eladnava commented on #63
Hi @bussedesigngb,
Thanks so much for reporting this issue.

This has now been resolved in https://github.com/eladnava/mailgen/commit/65e098812761b79fef6c7511056f8857c5261b64 and published to `npm` in version `2.0.24`.

[2022-05-16 17:58] eladnava commented on #44
Closing due to lack of response, feel free to comment again if you need any further assistance.

[2022-05-16 17:58] #44 closed

[2022-05-16 17:58] #40 closed

[2022-05-30 14:51] Guergeiro opened #66 "Add text links for button actions"
As we all know, we have a mail client friend, called Outlook, that doesn't like to follow standards or always has weird behaviours. This in turn meant that buttons and their actions may sometimes not be shown (#16 can be an example).

I would propose not only trying to keep buttons being shown on outlook clients, but also provide an escape route. Normally emails come with "Can't see/click the butt

[2022-05-30 21:56] eladnava commented on #66
Hi @Guergeiro,
Thanks for bringing this up.

I haven't seen many modern e-mails including the escape route / fallback link text in recent years, and frankly I'm more inclined to just make the action buttons work / display properly in Outlook, but do not have the time currently to work on this myself.

Do you have time to work on this? If you don't have access to a Windows machine with Outlook, the

[2022-05-30 22:28] Guergeiro commented on #66
I find this hard to believe... Loads of places still use it. Just tested with GH in a new account.
![image](https://user-images.githubusercontent.com/39097691/171064341-b585fd83-595c-4056-8b9a-87cb0bea2b51.png)

Now, I'm not saying this feature to be always there, but I would probably suggest this to exist behind a flag that is optional and opt-in if people want it. Something along of lines of `{a

[2022-06-01 23:49] eladnava commented on #66
Hi @Guergeiro,
That's a great idea!

Sounds good. If you have the time to work on this, please go ahead and submit a PR. Also, if you could attempt to fix the Outlook rendering issues of action buttons in the built-in themes, that would also be greatly appreciated.

[2022-06-20 18:42] eladnava commented on #66
Hi @Guergeiro,
This is great! I would opt for Option #1 if possible (including the link in the footer after the signature).

Cheers!

[2022-06-20 18:52] Guergeiro commented on #66
The only issue you got to remember is that if people opt-in into this behaviour and they have multiple actions, there will be multiple links and the only thing that can track them to the button is the text (that matches the button). Although I'd guess this is a really rare scenario.

[2022-06-23 15:25] #66 closed

[2022-07-04 09:42] Guergeiro opened #69 "Cannot read property 'button' of undefined"
Commit 4954057b2665b38df62a73dbbd5050793ff22313 introduced a bug when rendering the html. If no action is passed (or null), it will try to evaluate the element zero. Since we always convert the action to an array, even if it has zero elements (`body.action = convertToArray(body.action)`). Then the condition `locals.action[0].button[0].fallback` will try to access the first element of the action th

[2022-07-06 07:14] #69 closed

[2022-07-06 07:16] eladnava commented on #69
HI @Guergeiro,
Thanks for identifying the issue and creating the PR.

It has been merged & published to `npm` in `2.0.27`.

[2022-11-08 15:00] Epichris360 opened #71 "Having buttons inside of tables"
Hi mailgen team,  I looked through the code and didn't see anything that allows you to add buttons to tables, in our use case we need to add links to individual items in the table.

Is something like this currently doable ? and I just haven't figured it out?

[2022-11-08 17:13] eladnava commented on #71
Hi @Epichris360,
Thanks for creating this issue.

There is currently no button functionality inside table rows/cells. However, you could simply inject HTML buttons into tables as follows:

[code]
Apologies for the lack of a built-in solution, but it isn't a highly-requested feature at this time.

[2022-11-08 17:13] #71 closed

[2022-11-08 17:14] Epichris360 commented on #71
Thanks!